.gallery-main {
    @extend %border-shared;
    align-self: center;
    width: 1600px;
    margin: 5em 1em;
    background-color: $color-two;
    img {
        width: unset;
        height: unset;
    }
}

.gallery-wrapper {
    margin: 1em;
}

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-gap: 1em;
}

