@use 'sass:math';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'header';
@import 'footer';
@import 'technologies';
@import 'reports';
@import 'gallery';


@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


* {
    @include theme;
    text-align: center;
    color: $color-one;
}

p {
    margin-left: 2em;
    margin-right: 2em;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $background-color;
}

h1 {
    @include theme($theme: 700);
}

h2 {
    @include theme($theme: 700);
}

.main {
    @extend %border-shared;
    flex-grow: 1;
    margin: 5em 1em;
    background-color: $color-two;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    min-height: 60vh;
}

p > img {
    margin: 2em;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

.header-h1 {
    background-color: $color-one;
    padding: 2em;
    margin-bottom: 5em;

    h1 {
        color: $color-five;
        font-size: 40px;
    }
}

@media screen and (max-width: 1469px) {
    .main {
        width: 95%;
        align-self: center !important;
    }
}

@media screen and (min-width: 767px) {
    .main {
        flex-grow: 1;
        margin: 2.5% 25%;
        transform: skewY(-5deg);

        p,
        h1,
        h2 {
            transform: skewY(5deg);
        }
    }

    p > img {
        margin: 2em;
        width: 50%;
        height: 50%;
    }
}
