@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

@mixin theme($theme: 700) {
    font-family: 'IM Fell French Canon SC', serif;
    font-weight: $theme;
}

$color-one: #140005;
$color-two: #ffebf0;
$color-three: #ffd6e0;
$color-four: #ffadc2;
$color-five: #ff678d;

%border-shared {
    box-shadow: rgba($color-one, 0.15) 0 2px 8px;
    background-color: $color-one;
    border-radius: 25px;
}

%border-hover {
    background-color: $color-five;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;

    * {
        color: rgb(255, 255, 255);
    }
}

%margin-mobile {
    margin: 2em 1em;
}

$margin: 1em 1em 0;
$play-fair: 'Playfair Display', serif;
$background-color: rgb(238, 238, 238);
$bodybackground-color: linear-gradient(to right, #aaacad, #595959);

$img-filter: invert(61%) sepia(10%) saturate(7036%) hue-rotate(306deg) brightness(99%) contrast(105%);
